// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #4285F4;
  --ion-color-primary-rgb: 66, 133, 244;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3a75d7;
  --ion-color-primary-tint: #5591f5;
}
